body{
    background-color: #333;
}
.jumbotron{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
      }

.lyrics{
        margin: 20px;
        padding: 0px 20px 70px 20px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }

h2,h3{
       text-transform: uppercase;
}
      
